/*li{
    color: blueviolet;
}
.demo1{
    color: blue;
}
.demo2{
    color: palevioletred;
}
*{
    background-color: bisque;
}
p{
    color: navy;
}
p::first-line{
    color:white;
    font-size: 50px;
}
p::first-letter{
    color: white;
    font-size: 50px;
}
p:hover{
    background-color:olivedrab ;
    cursor: pointer;
}*/
